@-webkit-keyframes load{            0%{                opacity: 1;            }            100%{                opacity: 0;            }        }        .loading span:nth-child(1){            -webkit-animation-delay:0.13s;        }        .loading span:nth-child(2){            -webkit-animation-delay:0.26s;        }        .loading span:nth-child(3){            -webkit-animation-delay:0.39s;        }        .loading span:nth-child(4){            -webkit-animation-delay:0.52s;        }        .loading span:nth-child(5){            -webkit-animation-delay:0.65s;        }

body{
background-color: #3e3e3eaa;
color: #cfcfcf;
}

.toolbar{
position: fixed;
bottom: 0px;
width: 100%;
height: 30px;
text-align: center;
background: #3e3e3e99;
}
.toolbar input{
height: 30px;
margin-left: 10px;
color: aliceblue;
background-color: #5f97a5;
border: 0px;
}
#pageLoadTip{
display: none;
top:0px;
z-index:999999;
background-color:rgb(57 51 51 / 31%);
height:99vh;
width:99vw;
position:fixed;
text-align: center;
}
#pageLoadTip  .pltc{
background-color: #3e3e3e3e;
color:rgb(255 255 255 / 88%);
font-size:16px;
margin-top:40vh;
}
.loading{
width: 100%;            
height: 15px;            
margin: 0 auto;            
margin-top:10px;        
}        
.loading span{            
display: inline-block;            
width: 15px;            
height: 15px;            
margin-right: 5px;            
border-radius: 50%;            
background: lightgreen;            
-webkit-animation: load 1.04s ease infinite;        
}        
.loading span:last-child{            
margin-right: 0px;
}
.info{
width: 100%;
padding-left: 10px;
font-size: 8px;
}
#D1{
width: 100vw;
text-align: left;
}
#D1 div{
width: 29vw;
height: 120px;
border: 1px solid #AAAAAA;
display: inline-grid;
background-color: #cec1aa33;
margin-top: 5px;
margin-left: 2px;
text-align: center;
vertical-align: middle;
margin-bottom: 25px;
}
#D1 img{
width: 80%;
padding-left: 10%;
}
.item input{
background-color: #cec1aa33;
color: white;
border: 1px solid #615858;
width: 90%;
margin-left: 5%;
}
#D1 .notAllow{
background-color: currentcolor!important;
}
#D1 .notAllow label{
color: #9b8193;
}
.checked{
border-color: #1332ff !important;
}
.error{
border-color: #ff0000 !important;
}
.success{
border-color: chartreuse !important;
}


#D2{
width: 100vw;
text-align: left;
}
#D2 div{
width: 29vw;
height: 150px;
border: 1px solid #AAAAAA;
display: inline-grid;
background-color: #cec1aa33;
margin-top: 5px;
margin-left: 2px;
text-align: center;
vertical-align: middle;
margin-bottom: 25px;
}
#D2 img{
width: 80%;
padding-left: 10%;
}
#D2 .item div{
	height: 20px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}